
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
*{
    font-family: 'outfit';
}

@layer base{
    html{
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar {
  display: none;
}

.rich-text {
  font-size: 14px;
  line-height: 1.7;
  color: #444;
}

.rich-text h2, .rich-text h3 {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.rich-text p {
  margin-bottom: .75rem;
}

.rich-text ul {
  list-style: decimal;   /* numbers instead of bullets */

  margin-left: 1.5rem;
  margin-bottom: .75rem;
}

.rich-text li {
  margin-left: 1rem;
  margin-bottom: .25rem;
  list-style: decimal;
}
